<div class="container">

<h1>Enter our amazin Emblzn competition...</h1>
<h2>...for a chance to win a House of Billiam X TEED Jacket</h2>

<section class="well">

<ol>
	<li>Design your own House of Billiam X TEED jacket below</li>
	<li>Save your design and then share it on Facebook and Twitter via the Emblzn designer</li>
	<li>Make sure you use the hashtag #HoBXEmblznXTeed</li>
</ol>

</section>

</br>

</div>

<script type="text/javascript" src="https://www.emblzn.com/embed/o1086Z-L0uE.js"></script>

<style type="text/css">
	.container {
		width: 810px;
		margin: 0 auto;
	}
h1, h2 {
	text-align: center;
}

</style>