<h1>Connect</h1>

<%= @session %>
<%= @response %>
<%= @page %>

<a href="https://ticktack.myshopify.com/admin/oauth/authorize?client_id=9827c3e04b5723a0a88c8b04efa7d851&scope=write_products" target="_blank" class="btn btn-large btn-success" >Connect to Shopify</a>