<p class="hidden"><%= @params[:signed_request] %></p>
<% if @competition.live %> 
<label class="label label-success" >Live</label>
<% else %>
<label class="label" >Finished</label>
<% end %>

<p>
  <%= @competition.body.html_safe %>
</p>

<style type="text/css">
  <%= @competition.css.html_safe %>
</style>
