<h1></h1>

<button id="soundcloud">Connect Soundcloud</button>
<br/>
<hr/>
<br/>
<%= link_to( 'mixcloud connect', "https://www.mixcloud.com/oauth/authorize?client_id=wpLF5wDyDUQYQJnrFY&redirect_uri=#{ mixcloud_post_url}", method:'post', target: "_blank" )%>

<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
// initialize client with app credentials
SC.initialize({
  client_id: '0a5a8824df0c97aedb12448786a6f1de',
  redirect_uri: 'http://floating-escarpment-5815.herokuapp.com/soundcloud'
});

$('#soundcloud').on('click', function() {

	SC.connect(function() {
	  SC.get('/me', function(me) { 
	    $('h1').html('Hello, ' + me.username); 
	  });
	});	

});

</script>