<h1>Hi</h1>


<%= @user.get('/me').username %>


 <% @tracks.each do |track| %>
     <%= link_to track.title, track.permalink_url %>
   <% end %>

<hr/>

 <% @user_tracks.each do |track| %>
     <%= link_to track.title, track.download_url %>
   <% end %>

   JS


<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
// initialize client with app credentials
SC.initialize({
  client_id: '0a5a8824df0c97aedb12448786a6f1de',
  redirect_uri: 'http://floating-escarpment-5815.herokuapp.com/soundcloud'
});

// initiate auth popup
SC.connect(function() {
  SC.get('/me', function(me) { 
    alert('Hello, ' + me.username); 
  });
});
</script>