<h1>Hi</h1>


<%= @user.get('/me').username %>


 <% @tracks.each do |track| %>
     <%= link_to track.title, track.permalink_url %>
   <% end %>

<hr/>

 <% @user_tracks.each do |track| %>
     <%= link_to track.title, track.download_url %>
   <% end %>