<h1></h1>

<ul id="tracks">
	
</ul>

<span id="soundcloud"><%= image_tag 'http://connect.soundcloud.com/2/btn-connect-sc-l.png' %></span>
<br/>
<hr/>
<br/>
<%= link_to( 'mixcloud connect', "https://www.mixcloud.com/oauth/authorize?client_id=wpLF5wDyDUQYQJnrFY&redirect_uri=#{ mixcloud_post_url}", method:'post', target: "_blank", :id => "mixcloud", :class => "hidden btn"  )%>

<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
// initialize client with app credentials
SC.initialize({
  client_id: '0a5a8824df0c97aedb12448786a6f1de',
  redirect_uri: 'http://floating-escarpment-5815.herokuapp.com/soundcloud'
});

$('#soundcloud').on('click', function() {

	$(this).toggle();

	SC.connect(function() {
	  	$('#mixcloud').removeClass('hidden');
	  SC.get('/me', function(me) { 
	    $('h1').html('Hello, ' + me.username); 
	  });

	  SC.get('/me/tracks', function(tracks) { 
	    var tracks = tracks;
		
		for (var i = 0; i < tracks.length; i++) {
			$('ul#tracks').append("<li>" + tracks[i].title + ": " + tracks[i].download_url + "</li>" );
		}


	    return tracks;

	  });

	});	

});


</script>