<h1>Mixcloud api here </h1>

<%= @result %>

<p id="mixcloud_code" class="hidden"><%= @mixcloud_code %></p>
<p id="mixcloud_post_url" class="hidden"><%= mixcloud_post_url %></p>


<script type="text/javascript">

var mixcloud_post_url = $("#mixcloud_post_url").html();
console.log(mixcloud_post_url);
var mixcloud_code = $("#mixcloud_code").html();
console.log(mixcloud_code);

var access_url = "https://www.mixcloud.com/oauth/access_token?client_id=wpLF5wDyDUQYQJnrFY&redirect_uri=" + mixcloud_post_url + "&client_secret=jnu8tAF89tecB99ztdautCUduWXnQTUj&code="+mixcloud_code+"";

console.log(access_url); 

var callback = function(data){
		console.log(data);
}

$.ajax({
  url: access_url,
  type: "GET",
  dataType: 'jsonp',
  jsonpCallback: 'callback',
  success: function(data) {
	console.log(data);
  }

});


</script>