<h1>Mixcloud api here </h1>

<p id="mixcloud_code" class="hidden"><%= @mixcloud_code %></p>
<p id="mixcloud_post_url" class="hidden"><%= mixcloud_post_url %></p>


<script type="text/javascript">

var mixcloud_post_url = $("#mixcloud_post_url").html();
console.log(mixcloud_post_url);
var mixcloud_code = $("#mixcloud_code").html();
console.log(mixcloud_code);

var access_url = "https://www.mixcloud.com/oauth/access_token?client_id=wpLF5wDyDUQYQJnrFY&client_secret=jnu8tAF89tecB99ztdautCUduWXnQTUj&code="+mixcloud_code+"";

console.log(access_url); 

$.ajax({
  url: access_url,
  type: "GET",
  dataType: 'jsonp',
  success: function(response) {
	var access_token = response[0];
	console.log(response);
  }

});


</script>