<div class="jumbotron">
	<div class="container">

   <div cass="row">
      <div class="col-sm-4">
			<h1>About</h1>

			<p>Built with love, whilst listening to mixes on a cloudy day in February.</p>

			<h5>Cloud designed by Luboš Volkov from the Noun Project</h5>
		</div>
		<div class="col-sm-8" >
	        <div id="cloud-wrap" >
	            <div id="cloud" style="width: 600px; height: 400px;"></div>
	        </div>
        </div>
  </div>

	</div>
</div>