

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
       <h1>#MashTag</h1>
       <div cass="row">
          <div class="col-sm-4">
       
            <p>Enter a Mixcloud username below for a mashup tagcloud of the music they'll love!</p>
                mixcloud.com/<input type="text" id="username" label="mixcloud username" placeholder="username" />
                <br/><br/>
                  <button id="submit-button" name="Tag me" class="btn btn-primary">#MashMeUp</button>
          </div>
          <div class="col-sm-8" >
            <div id="cloud-wrap" >
            <div id="cloud" style="width: 600px; height: 400px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="fb-root"></div>

      <hr>

    </div> <!-- /container -->        

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '1412697118982924',
              status     : true,
              xfbml      : true
            });

            // Facebook JS UI here

            
          };

          (function(d, s, id){
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/all.js";
             fjs.parentNode.insertBefore(js, fjs);
           }(document, 'script', 'facebook-jssdk'));
        </script> 

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>



