
<h1> Search Artists </h1>
<%= form_tag search_path, :method => :get, :remote => true do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search' %>
<% end %>


<div id="results">
  <%= render :partial => 'results' %>
</div>	