

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   input {
   	line-height: normal !important;

   }


   #cloud {
   position: relative;
      background: -moz-linear-gradient(top, rgba(238, 238, 238, 0.9) 0%, rgba(238, 238, 238, 0.9) 100%), url(bg.png) repeat no-repeat, url(cloud.svg) repeat no-repeat;

background: -moz-linear-gradient(top, rgba(238,238,238,0.9) 0%, rgba(238,238,238,0.9) 100%), url(cloud.svg) repeat no-repeat;

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,0.9)), color-stop(100%,rgba(238,238,238,0.9))), url(cloud.svg) repeat no-repeat;

background: -webkit-linear-gradient(top, rgba(238,238,238,0.9) 0%,rgba(238,238,238,0.9) 100%), url(cloud.svg) repeat no-repeat;

background: -o-linear-gradient(top, rgba(238,238,238,0.9) 0%,rgba(238,238,238,0.9) 100%), url(cloud.svg) repeat no-repeat;

background: -ms-linear-gradient(top, rgba(238,238,238,0.9) 0%,rgba(238,238,238,0.9) 100%), url(cloud.svg) repeat no-repeat;

background: linear-gradient(to bottom, rgba(238,238,238,0.95) 0%,rgba(238,238,238,0.95) 100%), url(cloud.svg) repeat no-repeat;

  	background-size: 450px;
 
   	background-position: 0px -50px;
    background-repeat: repeat-y;
    
}

.fb-button {
  position: relative;
  bottom: -75px;
}

#username {
  width: 150px;
}

.jumbotron p {
line-height: 24px;
}











